---
import BaseHead from "@/components/BaseHead.astro";
import ExternalScripts from "@/components/ExternalScripts.astro";
import Footer from "@/components/Footer.astro";
import Gallery from "@/components/Gallery.astro";
import Header from "@/components/Header.astro";

let title = "irende摄影作品展示";
let description =
  "欢迎来到irende摄影作品展示，这是一个简约单页设计的精美图库，配备了功能完善的光箱展示效果。";
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'AREA44'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />
      <Footer title={title} description={description} />
      <Gallery />
    </div>
    <ExternalScripts />
  </body>
</html>
